{{template "header" .}}
<a href="/#{{.a.Id}}"><img width="32px" height="32px" src="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/blue_repicthousebase_1484336386-1.png"></a>
<a target="_blank" href="{{.a.OriginalLink}}"><img width="32px" height="32px" src="https://image.flaticon.com/icons/png/512/1104/1104163.png"/></a>


<div class="container">
<div class="row">
    <div class="column">
        <h1>{{ .a.Title }}</h1>
    </div>
</div>
<div class="row">
    <div>
        {{ if eq "" .selected }}
        <img src="/assets/img/{{.a.ImageFile}}"/>
        {{ else }}
        <img class="grey" src="/assets/img/{{.a.ImageFile}}"/>
        {{ end }}

<!--        <img src="{{.a.ImageURL}}"/>-->
    </div>
    <div class="column">
        {{.a.Summary}}
        <br/><br/>

        {{ if eq "1" .selected }}
        <a href="/c/{{.a.Id}}/1"><button class="button-outline button" role="button">{{.a.Choice1}}</button></a>
        {{ else }}
        <a href="/c/{{.a.Id}}/1"><button class="button" role="button">{{.a.Choice1}}</button></a>
        {{ end }}

        {{ if eq "2" .selected }}
        <a href="/c/{{.a.Id}}/2"><button class="button-outline button" role="button">{{.a.Choice2}}</button></a>
        {{ else }}
        <a href="/c/{{.a.Id}}/2"><button class="button" role="button">{{.a.Choice2}}</button></a>
        {{ end }}

        {{ if eq "3" .selected }}
        <a href="/c/{{.a.Id}}/3"><button class="button-outline button" role="button">{{.a.Choice3}}</button></a>
        {{ else }}
        <a href="/c/{{.a.Id}}/3"><button class="button" role="button">{{.a.Choice3}}</button></a>
        {{ end }}

        {{ if eq "4" .selected }}
        <a href="/c/{{.a.Id}}/4"><button class="button-outline button" role="button">{{.a.Choice4}}</button></a>
        {{ else }}
        <a href="/c/{{.a.Id}}/4"><button class="button" role="button">{{.a.Choice4}}</button></a>
        {{ end }}

    </div>
</div>
</div>


</body>
</html>

