{{template "header" .}}



<div class="container">
    <div class="row">
        <div class="column">
            <h2>
            <a style="font-size: 18pt" href="/one/{{.username1}}">{{.username1}}</a> /
            <a style="font-size: 18pt" href="/one/{{.username2}}">{{.username2}}</a>
            </h2></div>
    </div>
    <div class="row">
        <div class="column"><h2>マッチスコア : {{printf "%.f" .matchScore}} %
        {{ if gt 10.0 .matchScore }}
            <img height="64px" width="64px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Broken_heart.svg/332px-Broken_heart.svg.png"/>
        {{ else }}
            {{ range .numberHearts }}
            <img height="32px" width="32px" src="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/red_webpict35_1484337167-1.png"/>
            {{ end }}

            {{ end }}

        </h2>
        </div>
    </div>
    <div class="row">
        <div class="column">


                {{range .results}}
                <a href="/a/{{.Article.Id}}">
                {{ if eq .Same false }}

            <img width="10%" height="9%" class="grey" src="/assets/img/{{.Article.ImageFile}}"/>
                {{ else }}
            <img width="10%" height="9%" src="/assets/img/{{.Article.ImageFile}}"/>

                {{ end }}
                </a>

                {{end}}


        </div>
    </div>
</div>