{{template "header" .}}
<div class="container">
    <div class="row">
        <div class="column">
<table>
{{range .as}}
    <tr>
        <td><a id="{{.Id}}" href="/a/{{.Id}}"><img title="{{.Title}}" src="{{.ImageURL}}"/></a></td>
        <td><a id="{{.Id}}" href="/a/{{.Id}}">{{.Title}}</a></td>
    </tr>
{{end}}
</table>
        </div>
    </div>
</div>
</body>
</html>