{{template "header" .}}
<form method="post" action="/submit">
    <fieldset>
        <label for="message">Name</label>
        <input name="message" type="text" placeholder="CJ Patoilo" id="message">
        <input class="button-primary" type="submit" value="Send">
    </fieldset>
</form>
