{{template "header" .}}
<a class="noprint" href="/"><img width="32px" height="32px" src="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/blue_repicthousebase_1484336386-1.png"></a>

<div class="container">
<div class="row">
    <div class="column">
        <h3>マッチ度ランキング</h3>
        <p>現在ユーザ名: {{.current}}</p>
    </div>
</div>
<div class="row">
    <div class="column">
        <ul>
            {{range .scores}}
                <li>{{.Name}} : {{.Score}}</li>
            {{end}}
        </ul>
    </div>
</div>
</div>
